@{
    ViewData["Title"] = "Home Page";
}

@model List<Category>
<h1>類別清單</h1>
<table class="table-bordered table-striped">
    <thead>
        <tr>
            <th>類別名稱</th>
            <th>顯示順序</th>
        </tr>
    </thead>
    
</table>

